* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.hero {
  
    margin-top: 20%;
    border-bottom: 8px black solid;
 
}

.skill {
   
    border-bottom: 8px black solid;
}

 .profile-pic {
   padding: 5%;
    
}

.profile-detail {
  justify-self: flex-end;
} 

.profile-detail h3 {
    font-size: 28px;
    font-weight: 400;
}

.profile-detail h1 {
    font-size: 76px;
    font-weight: bolder;
}
.profile-pic img {
    width: 70%;
    border-radius: 50%;
}

.contact-me {
    margin-top: 20px;
    padding:14px;
    background-color: #0699A6;
    color: white;
    
}

.about {
    border-bottom: 8px black solid;
}

.about p {
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 20px;
    padding-top: 15%;
}

.expe {
    
}

.experience {
   padding-top:  5%;
   padding-left: 15%;
   
}

.edu-year {
    padding-left: 0px
}

.work {
    border-bottom: 8px black solid;
}

.education {
    padding-top: 0;
}

.education h4 {
    font-weight: 800;
}

.education h5 {
    font-weight: 600;
}
.experience h3 {
    padding-bottom: 5%;
}
.experience .year {
    border-top: 8px black solid;
    padding-top: 10px;
    font-size: 18px;
    font-weight: 700;
}

.experience .work {
    padding-left: 10%;
    padding-top: -5%;
   
}





.experience .work h2 {
    font-size: 18px;
    font-weight: 900;
}
 .work h4 {
     font-size: 16px;
     font-weight: 700;
 }
 .work ul li {
    
 }

 .my-skill {
    border-bottom: 8px black solid;
 }

 .skillset {
     padding-top: 25px;
     border-bottom: 8px black solid;
    
 }

 .skillset ul {
     list-style: none;
 }

 .form {
     padding-top: 10px;
 }

.logo {
  width:150px;
  padding-top: 15px;
}